.form-quiz {
    max-width: 600px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.list-group-item {
    display: list-item;
    list-style-position: inside;
    font-size: 18px;
}

.checkbox-group {
    font-size: 14px;
}
